<!DOCTYPE html>
<html>
  <head>
    <title>Document</title>
    
  </head>
  <body>
    <h1>Image Gallery</h1>
    <% for(var i=0;i<imgArray.length;i++) { %>
        <img src='<%= imgArray[i].url %> '>
    <% } %>

        <!-- <% imgArray.forEach(function (img) { %>
            <img src='<%= img.url %>' />
        <% }); %> -->
        
  </body>
</html>