<!DOCTYPE html>
<html>
  <head>
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="/loadimg.js"></script>
  </head>
  <body>
    <h1>Image Gallery</h1>
    <div id="images">
      <!-- append images here   -->
    </div>

  </body>
</html>